@tailwind base;
@tailwind components;
@tailwind utilities;

.box{
  background:url("./images/bg-pattern.svg") center no-repeat;
  background-size: cover;
}

.head{
  background: url("./images/pattern-circles.svg") center no-repeat;
}

.darkBg{
  background-color: "#171717";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
